@media only screen and (max-width: 500px) {
    header {
        font-size: 20px;
        display: block !important;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }
    
    .heading {
        margin-left: 20px;
    }

    /* PROMPT */

    .container {
        margin: 100px 10px;
    }

    .prompttable {
        display: block;
    }

    .promptcard {
        width: auto;
        margin: 20px 0px;
    }

    .prompttxt, .prompttags, .prompt {
        font-size: 12px;
    }
}